@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacquard+24&family=Jersey+20&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
}

.jersey-20-regular {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#maindiv {

    width: 60%;
    margin-top: 2%;

}

#body {

    display: flex;
    justify-content: center;

}

#creatediv {

    background-color: rgb(0, 54, 105);
    display: flex;
    flex-direction: column;
    align-items: center;

}



#exercises {

    width: 80%;

}

.exercise {

    display: flex;
    flex-direction: column;
    margin: 0% 0% 2.5% 0%;
    padding: 5% .5% 5% .5%;
    background-color: rgb(0, 33, 63);
    align-items: center;

}

.seriesdiv {

    width: 180px;

}

.serie {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;

}

.serie h3 {

    color: #ffffff;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 4px;

}

.serie button{

    background-color: rgb(173, 26, 0);
    padding: 6px;
    margin-bottom: 4px;
    font-weight: 600;

}

.serie input {

    width: 70px !important;

}

#creatediv input {

    width: 75%;
    padding: 1.75% 2.5% 1.75% 2.5%;
    margin: 0 2% 2.5% 2%;
    border-color: rgb(0, 33, 63);
    border-width: 20px;
    font-size: 18px;
    
}

.divbuttons {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;

}

.divbuttons button {

    width: 109px;

}

.importantbutton {

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    padding: 4px 4px 4px 4px;

}

.subbutton {

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    padding: 2px 4px 2px 4px;

}

.greenclass {

    background-color: rgb(0, 99, 38);
    margin-left: 8%;

}

.redclass {

    background-color: rgb(173, 26, 0);
    margin-right: 8%;

}