header {

    background-color: black;

}

header h1 {

    font-size: 100px;
    color: white;

}

header nav ul a li {

    font-size: 50px;
    color: white;
    text-decoration: none;
    list-style: none;

}