
.rowflex {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.notext {

    font-size: 0;

}

.azulclass {

    background-color: rgb(0, 54, 105);

}

.cuadrado {

    width: 40px;
    height: 40px;

}

.topleft {border-radius: 40% 0% 0% 0%;}
.topright {border-radius: 0% 40% 0% 0%;}
.bottomright {border-radius: 0% 0% 40% 0%;}
.bottomleft {border-radius: 0% 0% 0% 40%;}
.mid {

    width: 100%;

}