

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}


html{
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}


body{
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    background-color: #FBF6F0;
    display: flex;
    flex-direction: column;
    flex: 1;
}
