
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

#share {
    align-self: center;
    margin: 0 auto 30px;
    padding: 10px;
    background-color: rgb(13, 13, 53);
    color: white;
    font-size: 1.2em;;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#noticia{
    width: 95%;
    max-width: 800px;
    margin: 0 auto 0px;
    font-family: "Bitter", "Times New Roman", serif;
}

#noticia h2{
    font-size: 2em;
    text-align: center;
    line-height: 1.2em;
    margin: 1em !important;
}

#noticia p{
    text-align: justify;
    text-indent: 40px;
    line-height: 1.3em;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.first-paragraph::first-letter{
    font-size: 1.4em;
    font-weight: 600;
}

#noticia ul{
    display: flex;
    flex-direction: column;
}

#noticia li{
    padding-left: 20px;
    line-height: 1.1em;
    font-size: .95em;
    font-style: italic;
}

#noticia li::before{
    content:"-";
    padding-right: 10px;
}

#noticia .font{
    font-style: italic;
    text-align:right;
}

#noticia img{
    max-width: 700px;
    max-height: 600px;
    object-fit: cover;
}

#noticia p{
    text-align: justify;
}

@media(max-width: 650px){

    #noticia h2{
        font-size: 1.5em;
        line-height: 1.5em;
        margin-bottom: 20px;
    }
    
}

.boxed {
    background-color: rgb(223, 223, 223);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 30px 15px;
}

#noticia ul:not(.subRow):not(.subColumn){
    padding: 40px 10px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.column:not(.boxed){
    padding: 0px !important;
}


.column:not(.boxed) .subColumn{
    width: 100% !important;
}



.row{
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

@media (max-width: 599px){
    .row{
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 799px) and (min-width: 600px){
    .row{
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr)) !important;
    }
}

@media (min-width: 800px){
    .row{
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr)) !important; 
    }
}


.row:not(.boxed){
    padding: 0;
}

.subRow{
    grid-column: span 1 !important;
    width: 100%;
    align-content: center;
    margin: 0 auto !important;
}

.quote{
    font-style:italic;
    text-align: justify;
}

.quote::first-letter{
    padding-left: 25px;
}


.subColumn{
    width: 100%;
    align-self: center;
    padding: 10px;
    margin-top: 0 !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
:not(.subColumn:last-of-type){
    margin-bottom: 10px !important;
}

.imageWithCaption{
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size: .8em;
    flex: 1;
}

.imageWithCaption img {
    object-fit:cover;
    width: 100%;
    max-width: 1000px !important;
    object-fit: cover;
    margin: auto;
    height: 100%;
    flex: 1;
}